PORT=8000

NODE_MODE=dev

CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:3000

MONGO_URI=mongodb://localhost:27017/devMarket

NODEMAILER_USER=mailtrap-user
NODEMAILER_PASS=mailtrap-password

JWT_SECRET=your-jwt-secret
JWT_EXPIRES=
COOKIE_EXPIRES=

CLOUD_NAME=your-cloud-name
API_KEY=your-cloud-api-key
API_SECRET=your-cloud-secret

GOOGLE_CLIENT_ID=your-google-id
GOOGLE_CLIENT_SECRET=your-google-secret
