# Port for running server
PORT=8000

# Server mode (dev / prod)
NODE_MODE=dev

# Urls
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:3000

# URI to connect with database
MONGO_URI=mongodb://localhost:27017/devMarket

# Nodemailer information for send notifications on mailtrap
NODEMAILER_USER=
NODEMAILER_PASS=

# Information for JWT
JWT_SECRET=
JWT_EXPIRES=
COOKIE_EXPIRES=

# Information for upload images in cloudinary
CLOUD_NAME=
API_KEY=
API_SECRET=

# Information for google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Information for payment system
PUBLISH_STRIPE_KEY=
SECRET_STRIPE_KEY=
STRIPE_WEBHOOK_SECRET=
